.reveal img {
    max-height: 50vh;
}

:root {
    --animation-time: 15s;
    --standard-rotation: 2950deg;
    --nrse-rotation: 2520deg;
}

.math_transform, .distribution {
    font-size: 2em;
}

.neutron {
    fill: #1b9e77;
    opacity: 0.5;
}

.outfield {
    fill: #d95f02;
    opacity: 0.5;
}

.infield {
    fill: #7570b3;
    opacity: 0.5;
}

.bright.infield, .bright.outfield {
    opacity: 1.0;
}

@keyframes  move_nse_baseline{
    0% { transform: translate(-100px, 0); }
    100% { transform: translate(900px, 0); }
}

.nse_baseline_pos {
    animation: move_nse_baseline linear var(--animation-time) infinite;
    animation-play-state: running;
}

@keyframes rot_nse_baseline {
    0% { transform: rotate(0); }
    10% { transform: rotate(0); }
    40% { transform: rotate(var(--standard-rotation)); }
    60% { transform: rotate(var(--standard-rotation)); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

#nse_baseline_rot {
    animation: rot_nse_baseline linear var(--animation-time) infinite;
    animation-play-state: running;
    transform-origin: 50px 50px;
}


@keyframes rot_nse_distance {
    0% { transform: rotate(0); }
    10% { transform: rotate(0); }
    25% { transform: rotate(calc(0.5*var(--standard-rotation))); }
    75% { transform: rotate(calc(0.5*var(--standard-rotation))); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

#nse_distance_rot {
    animation: rot_nse_distance linear var(--animation-time) infinite;
    animation-play-state: running;
    transform-origin: 50px 50px;
}

@keyframes rot_nse_field {
    0% { transform: rotate(0); }
    10% { transform: rotate(0); }
    40% { transform: rotate(calc(2*var(--standard-rotation))); }
    60% { transform: rotate(calc(2*var(--standard-rotation))); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

.nse_field_rot {
    animation: rot_nse_field linear var(--animation-time) infinite;
    animation-play-state: running;
    transform-origin: 50px 50px;
}

.slow {
    animation-duration: calc(2*var(--animation-time)) !important;
}

@keyframes rot_nse_sample {
    0% { transform: rotate(0); }
    10% { transform: rotate(0); }
    40% { transform: rotate(var(--standard-rotation)); }
    60% { transform: rotate(var(--standard-rotation)); }
    90% { transform: rotate(calc(var(--standard-rotation)/100)); }
    100% { transform: rotate(calc(var(--standard-rotation)/100)); }
}

.nse_sample_rot {
    animation: rot_nse_sample linear var(--animation-time) infinite;
    animation-play-state: running;
    transform-origin: 50px 50px;
}

@keyframes  move_nse_sample{
    0% { transform: translate(-100px, 0); }
    50% { transform: translate(400px, 0); }
    100% { transform: translate(895px, 0); }
}

.nse_sample_pos {
    animation: move_nse_sample linear var(--animation-time) infinite;
    animation-play-state: running;
}

.sample {
    fill: purple;
}

/* nrse */
@keyframes rot_nrse {
    0% { transform: rotate(0); }
    11% { transform: rotate(0); }

    12% { transform: rotate(-140.4deg); }
    41% { transform: rotate(-140.4deg); }

    42% { transform: rotate(72.0deg); }
    61% { transform: rotate(72.0deg); }

    62% { transform: rotate(-291.6deg); }
    91% { transform: rotate(-291.6deg); }

    92% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

@keyframes rot_nrse_bootstrap {
    0% { transform: rotate(0); }

    11% { transform: rotate(0); }
    12% { transform: rotate(-140.4deg); }
    14% { transform: rotate(-124.56deg); }

    41% { transform: rotate(-124.56deg); }
    42% { transform: rotate(56.16deg); }
    43% { transform: rotate(-38.16deg); }

    61% { transform: rotate(-38.16deg); }
    62% { transform: rotate(-181.44deg); }
    63% { transform: rotate(91.44deg); }

    91% { transform: rotate(91.44deg); }
    92% { transform: rotate(156.96deg); }
    93% { transform: rotate(-174.96deg); }

    100% { transform: rotate(-174.96deg); }
}

.nrse_rot {
    animation: rot_nrse linear var(--animation-time) infinite;
    animation-play-state: running;
    transform-origin: 50px 50px;
}

.nrse_rot_bootstrap {
    animation: rot_nrse_bootstrap linear var(--animation-time) infinite;
    animation-play-state: running;
    transform-origin: 50px 50px;
}

@keyframes rot_field {
    0% { transform: rotate(0); }
    100% { transform: rotate(calc(var(--nrse-rotation))); }
}

@keyframes rot_infield {
    0% { transform: rotate(0); }
    100% { transform: rotate(calc(-1*var(--nrse-rotation))); }
}

.nrse_field {
    animation: rot_field linear var(--animation-time) infinite;
    animation-play-state: running;
    transform-origin: 50px 50px;
}

.infield.nrse_field {
    animation: rot_infield linear var(--animation-time) infinite;
    animation-play-state: running;
    transform-origin: 50px 50px;
    opacity: 1;
}

/* MIEZE */
@keyframes rot_mieze_slow {
    0% { transform: rotate(0); }
    11% { transform: rotate(0); }

    12% { transform: rotate(-140.4deg); }
    41% { transform: rotate(-140.4deg); }

    42% { transform: rotate(3.4deg); }
    100% { transform: rotate(3.4deg); }
}

.mieze_rot.slow {
    animation: rot_mieze_slow linear var(--animation-time) infinite;
    animation-play-state: running;
    transform-origin: 50px 50px;
}

@keyframes rot_mieze {
    0% { transform: rotate(0); }
    11% { transform: rotate(0); }

    12% { transform: rotate(-140.4deg); }
    41% { transform: rotate(-140.4deg); }

    42% { transform: rotate(3.4deg); }
    100% { transform: rotate(3.4deg); }
}

.mieze_rot {
    animation: rot_mieze linear var(--animation-time) infinite;
    animation-play-state: running;
    transform-origin: 50px 50px;
}


@keyframes  move_mieze_sample{
    0% { transform: translate(-100px, 0); }
    50% { transform: translate(400px, 0); }
    100% { transform: translate(915px, 0); }
}

.mieze_sample_pos {
    animation: move_mieze_sample linear var(--animation-time) infinite;
    animation-play-state: running;
}

/* SESANS */

.nse_sesans_bottom {
    animation: move_sesans_bottom linear var(--animation-time) infinite;
    animation-play-state: running;
}

@keyframes  move_sesans_bottom{
    0% { transform: translate(-100px, 50px); }
    100% { transform: translate(900px, -50px); }
}

@keyframes  move_sesans_top{
    0% { transform: translate(-100px, -50px); }
    100% { transform: translate(900px, 50px); }
}

.nse_sesans_top {
    animation: move_sesans_top linear var(--animation-time) infinite;
    animation-play-state: running;
}


@keyframes rot_sesans_bottom {
    0% { transform: rotate(0); }
    18.18% { transform: rotate(0); }
    36.36% { transform: rotate(calc(2*2/11*var(--standard-rotation))); }
    63.63% { transform: rotate(calc(2*2/11*var(--standard-rotation))); }
    81.81% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

.sesans_bottom_rot {
    animation: rot_sesans_bottom linear var(--animation-time) infinite;
    animation-play-state: running;
    transform-origin: 50px 50px;
}

@keyframes rot_sesans_top {
    0% { transform: rotate(0); }
    11.11% { transform: rotate(0); }
    33.33% { transform: rotate(calc(2*2/9*var(--standard-rotation))); }
    66.66% { transform: rotate(calc(2*2/9*var(--standard-rotation))); }
    88.88% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

.sesans_top_rot {
    animation: rot_sesans_top linear var(--animation-time) infinite;
    animation-play-state: running;
    transform-origin: 50px 50px;
}

 /* Sesans scatter */

.nss {
    animation: mss linear var(--animation-time) infinite;
    animation-play-state: running;
}

@keyframes mss {
    0% { transform: translate(-100px, 50px); }
    50% { transform: translate(400px, 0px); }
    100% { transform: translate(900px, 0px); }
}


@keyframes rot_sesans_scatter {
    0% { transform: rotate(0); }
    18.18% { transform: rotate(0); }
    36.36% { transform: rotate(calc(2*2/11*var(--standard-rotation))); }
    65.00% { transform: rotate(calc(2*2/11*var(--standard-rotation))); }
    85.00% { transform: rotate(calc(2*(2/110)*var(--standard-rotation))); }
    100% { transform: rotate(calc(2*(2/110)*var(--standard-rotation))); }
}

.sesans_bottom_scatter {
    animation: rot_sesans_scatter linear var(--animation-time) infinite;
    animation-play-state: running;
    transform-origin: 50px 50px;
}

.path {
    stroke: black;
    fill: none;
}

/*
SEMSANS
*/
@keyframes rot_semsans_top {
    0% { transform: rotate(0deg); }
    23.57% { transform: rotate(0deg); }
    26.58% { transform: rotate(calc(0.03 * var(--standard-rotation))); }
    42.62% { transform: rotate(calc(0.03 * var(--standard-rotation))); }
    47.63% { transform: rotate(calc(-0.07 * var(--standard-rotation))); }
    100% { transform: rotate(calc(-0.07 * var(--standard-rotation))); }
}

.semsans_top_rot {
    animation: rot_semsans_top linear var(--animation-time) infinite;
    animation-play-state: running;
    transform-origin: 50px 50px;
}

@keyframes rot_semsans_bottom {
    0% { transform: rotate(0deg); }
    21.5% { transform: rotate(0deg); }
    28.5% { transform: rotate(calc(0.07 * var(--standard-rotation))); }
    41.5% { transform: rotate(calc(0.07 * var(--standard-rotation))); }
    48.5% { transform: rotate(calc(-0.07 * var(--standard-rotation))); }
    100% { transform: rotate(calc(-0.07 * var(--standard-rotation))); }
}

.semsans_bottom_rot {
    animation: rot_semsans_bottom linear var(--animation-time) infinite;
    animation-play-state: running;
    transform-origin: 50px 50px;
}

.semsans_bottom {
    animation: move_semsans_bottom linear var(--animation-time) infinite;
    animation-play-state: running;
}

@keyframes  move_semsans_bottom{
    0% { transform: translate(-100px, 20px); }
    100% { transform: translate(900px, 20px); }
}





@keyframes rot_semsans_other_top {
    0% { transform: rotate(0deg); }
    23.7% { transform: rotate(0deg); }
    26.5% { transform: rotate(calc(0.03 * var(--standard-rotation))); }
    42.5% { transform: rotate(calc(0.03 * var(--standard-rotation))); }
    46.5% { transform: rotate(calc(-0.03 * var(--standard-rotation))); }
    100% { transform: rotate(calc(-0.03 * var(--standard-rotation))); }
}

.semsans_other_top_rot {
    animation: rot_semsans_other_top linear var(--animation-time) infinite;
    animation-play-state: running;
    transform-origin: 50px 50px;
}

@keyframes rot_semsans_other_bottom {
    0% { transform: rotate(0deg); }
    21.2% { transform: rotate(0deg); }
    28.3% { transform: rotate(calc(0.07 * var(--standard-rotation))); }
    42.4% { transform: rotate(calc(0.07 * var(--standard-rotation))); }
    47.4% { transform: rotate(calc(-0.03 * var(--standard-rotation))); }
    100% { transform: rotate(calc(-0.03 * var(--standard-rotation))); }
}

.semsans_other_bottom_rot {
    animation: rot_semsans_other_bottom linear var(--animation-time) infinite;
    animation-play-state: running;
    transform-origin: 50px 50px;
}

.semsans_other_top {
    animation: move_semsans_other_top linear var(--animation-time) infinite;
    animation-play-state: running;
}

@keyframes  move_semsans_other_top{
    0% { transform: translate(-100px, -20px); }
    100% { transform: translate(900px, -20px); }
}

.delay1 {
    animation-delay: 1s;
}


/* Diffraction */

@keyframes  move_diffraction_baseline{
    0% { transform: translate(-100px, 100px); }
    25% { transform: translate(500px, 100px); }
    50% { transform: translate(500px, 700px); }
    50.001% { transform: translate(-100px, 100px); }
    75% { transform: translate(500px, 100px); }
    100% { transform: translate(1100px, 100px); }
}

.diffraction_pos {
    animation: move_diffraction_baseline linear var(--animation-time) infinite;
    animation-play-state: running;
}


@keyframes  move_diffraction_change_baseline{
    0% { transform: translate(-100px, 0px); }
    25% { transform: translate(500px, 100px); }
    50% { transform: translate(1100px, 200px); }
    50.001% { transform: translate(-100px, 0px); }
    75% { transform: translate(500px, 100px); }
    100% { transform: translate(500px, 700px); }
}

.diffraction_change_pos {
    animation: move_diffraction_change_baseline linear var(--animation-time) infinite;
    animation-play-state: running;
    animation-delay: 1s;
}

@keyframes rot_diffraction {
    0% { transform: rotate(0); }
    12.18% { transform: rotate(0); }
    16.99% { transform: rotate(calc(2 * 0.0481 * var(--standard-rotation))); }
    50% { transform: rotate(calc(2 * 0.0481 * var(--standard-rotation))); }

    50.001% { transform: rotate(0); }
    62.18% { transform: rotate(0); }
    66.99% { transform: rotate(calc(2 * 0.0481 * var(--standard-rotation))); }
    100% { transform: rotate(calc(2 * 0.0481 * var(--standard-rotation))); }
}

.diffraction_rot {
    animation: rot_diffraction linear var(--animation-time) infinite;
    animation-play-state: running;
    transform-origin: 50px 50px;
}

@keyframes rot_change_diffraction {
    0% { transform: rotate(0); }
    10.83% { transform: rotate(0); }
    16.04% { transform: rotate(calc(2 * 0.0521 * var(--standard-rotation))); }
    50% { transform: rotate(calc(2 * 0.0521 * var(--standard-rotation))); }

    50.001% { transform: rotate(0); }
    60.83% { transform: rotate(0); }
    66.04% { transform: rotate(calc(2 * 0.0521 * var(--standard-rotation))); }
    100% { transform: rotate(calc(2 * 0.0521 * var(--standard-rotation))); }
}

.diffraction_change_rot {
    animation: rot_change_diffraction linear var(--animation-time) infinite;
    animation-play-state: running;
    animation-delay: 1s;
    transform-origin: 50px 50px;
}

@keyframes skew_diffraction {
    0% { transform: skewX(0deg); }
    45% { transform: skewX(0deg); }

    50% { transform: skewX(30deg); }
    95% { transform: skewX(30deg); }
    100% { transform: skewX(0deg); }
}

.skew {
    animation: skew_diffraction linear var(--animation-time) infinite;
    animation-play-state: running;
    transform-origin: 500px 100px;
}
